mat-card {    
    max-width: 60%;    
    margin: 1em auto;     
  } 
    
    .container {
      padding: 10px;
    }
    
  
    .form-element {
      padding: 5px 0px 5px 2px;
    
    }
    
  .error {
   color: red;
   font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  .button {
    margin: 0.5em;
  } 
  .mat-elevation-z8   {
    width: 100%;
  }
  
  table {
    width: 100%;

  }
  .row {
      width: 100%;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
   // width: auto;
  }
  mat-icon {
      color: indigo;
      cursor: pointer;
  }